@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");

@font-face {
    font-family: 'VCR OSD Mono';
    font-style: normal;
    font-weight: 400;
    src: local('VCR OSD Mono'), url('https://fonts.cdnfonts.com/s/14798/VCR_OSD_MONO_1.001[1].woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VCR OSD Mono", sans-serif;
}

span {
  color: rgb(199, 28, 28);
  font-size: 1.5rem;
  justify-content: center;
}